@charset "EUC-KR";
/*faq.jsp 테이블*/
#list {
	width: 880px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

#list table {
	width: 880px;
	margin-top: 50px;
	border-spacing: 0;
	font-size: 14px;
	text-align: center;
}

#list table tr td:nth-child(1) {
	width: 80px;
}

#list table tr td:nth-child(2) {
	width: 100px;
	text-align: center;
	padding-left: 10px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#list table tr td:nth-child(3) {
	width: 550px;
}

#list table tr td:nth-child(4) {
	width: 150px;
}


 #list table tr td {
            border-bottom: 1px solid #ccc;
            padding: 10px 0;
        }

        #list table tr td a {
            text-decoration: none;
            color: black;
        }


        #list table tr:hover {
            background-color: #ebf3f5;
        }

        #list table tr:first-child td {
           
            font-weight: bold;
            text-align: center;

            background-color: #9ac3df;
            border-top: none;
            border-bottom: none;
        }

        #list table tr:last-child td {
            border-bottom: 1px solid rgb(39, 83, 165);
        }
        

        #list .page {
            width: 300px;
            margin: 0 auto;
            text-align: center;
            font-size: 13px;
            margin-top: 20px;
            font-weight: bold;
        }




/*faq.jsp - 글쓰기버튼*/
#list .write_button {
	float: right;
	padding: 20px;
}

#list .write_button input {
	width: 90px;
	height: 30px;
	border: none;
	background-color: #64ccc9;
	border-radius: 0.2em;
	color: black;
	font-size: 15px;
}

#list div input:hover {
	background-color: #abc7ca;
}

/*write - 글쓰기버튼*/
.title {
           	width: 300px;
            height: 25px;
            border: none;
            border-bottom: 1px solid #abc7ca;
            font-size: 13px;
            margin-bottom: 10px;
            padding-bottom: 5px;
        }
        
        
/*글쓰기 페이지 - button*/

.w_button {
	float:right;
	padding: 20px;
}

.w_button input {
	width: 90px;
	height: 30px;
	border: none;
	background-color: #64ccc9;
	border-radius: 0.2em;
	color: black;
	font-size: 15px;
}

div input:hover {
	background-color: #abc7ca;
}

/*show 페이지 - button*/
.s_button {
	float:right;
	padding: 10px;
}

.s_button input {
	width: 90px;
	height: 30px;
	border: none;
	background-color: #64ccc9;
	border-radius: 0.2em;
	color: black;
	font-size: 15px;
}

div input:hover {
	background-color: #abc7ca;
}



#s_list {
	width: 880px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

#s_list table {
	width: 880px;
	margin-top: 40px;
	border-spacing: 0;
	font-size: 14px;
	text-align: center;
}

#s_list table tr td:nth-child(1) {
	width: 80px;
}

#s_list table tr td:nth-child(2) {
	width: 120px;
	text-align: center;
	padding-left: 10px;

}

#s_list table tr td {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}


        #s_list table tr:first-child td {
           
            font-weight: bold;
            text-align: center;

            background-color: #ddebf4;
            border-top: none;
            border-bottom: none;
        }

        #s_list table tr:last-child td {
            border-bottom: 1px solid rgb(39, 83, 165);
        }
        

        #s_list .page {
            width: 300px;
            margin: 0 auto;
            text-align: center;
            font-size: 13px;
            margin-top: 20px;
            font-weight: bold;
        }
        





/*edit 페이지 - button*/

.e_button {
	float:right;
	padding: 20px;
}

.e_button input {
	width: 90px;
	height: 30px;
	border: none;
	background-color: #64ccc9;
	border-radius: 0.2em;
	color: black;
	font-size: 15px;
}

div input:hover {
	background-color: #abc7ca;
}